<div mat-dialog-title>
    Forgot Password
    <div *ngIf="is_otp && !isOtpExpired && (timer$ | async) as t" class="mat-small">OTP Expires in <span #otptime style="color: red;">15 : 00</span> mins</div>
</div>
<mat-dialog-content>
    <div >
        <div *ngIf="!is_otp" class="flex flex-row gap-4">
            <mat-form-field >
                <mat-label>Mobile Number / கைபேசி எண்</mat-label>
                <input type="text" matInput [formControl]="mobile_no_fc" maxlength="10" minlength="10" required (keypress)="number_chars_only($event)">
                <mat-error *ngIf="mobile_no_fc.hasError('required')">
                    Mobile Number. <b>required*</b>
                </mat-error>
                <mat-error *ngIf="mobile_no_fc.hasError('minlength')">
                    Mobile Number. <b>must be 10 digits*</b>
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="is_otp && !verified" class="flex flex-row gap-4">
            <mat-form-field >
                <mat-label>OTP</mat-label>
                <input type="text" matInput [formControl]="otp_fc" required minlength="6" maxlength="6" (keypress)="number_chars_only($event)" autocomplete="off">
                <mat-error *ngIf="otp_fc.hasError('required')">
                    OTP is <b>required *</b>
                </mat-error>
                <mat-error *ngIf="otp_fc.hasError('minlength')">
                    <b>Invalid</b> OTP
                  </mat-error>
                  <mat-error *ngIf="otp_fc.hasError('maxlength')">
                    <b>Invalid</b> OTP
                  </mat-error>
            </mat-form-field>
        </div>
        <form [formGroup]="fg" *ngIf="verified">
            <div class="flex flex-col gap-4">
                <mat-form-field>
                    <mat-label>Password / கடவுச்சொல்</mat-label>
                    <input type="{{view?'text':'password'}}" matInput formControlName="psw" minlength="8" maxlength="100">
                    <mat-icon *ngIf="!view" (click)="view=true" matSuffix color="primary" style="cursor: pointer;">visibility</mat-icon>
                    <mat-icon *ngIf="view" (click)="view=false" matSuffix color="primary" style="cursor: pointer;">visibility_off</mat-icon>
                    <mat-error *ngIf="fg.get('psw').hasError('required')">
                        Password is <b>required*</b>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Confirm Password / கடவுச்சொல்லை உறுதிப்படுத்தவும்</mat-label>
                    <input type="password" matInput formControlName="c_psw" minlength="8" maxlength="100">
                    <mat-error *ngIf="fg.get('c_psw').hasError('required')">
                        Confirm Password is <b>required*</b>
                    </mat-error>
                    <mat-error *ngIf="fg.get('c_psw').hasError('minlength')">
                        Confirm Password is <b>must be 8 characters*</b>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
    <ng-container *ngIf="(resend_timer$ | async) as t">
        <!-- <div *ngIf="is_otp && !isResendOTPEnabled && t > 0" class="mat-small">Resend OTP in <span #resent_otp_time style="color: red;">02 : 00</span> mins</div> -->
    </ng-container>
    <button *ngIf="verified" (click)="save()" [disabled]="isLoading" [disabled]="fg.invalid" mat-raised-button color="primary">Save</button>
    <button *ngIf="isOtpExpired || verified || !is_otp" (click)="close()" mat-raised-button color="warn">Cancel</button>
    <button *ngIf="!is_otp" (click)="generateOTPForgotPassword()" mat-raised-button color="accent" [disabled]="mobile_no_fc.invalid || isLoading">Genearate OTP</button>
    <button *ngIf="is_otp && !verified && !isOtpExpired" (click)="validateUserOTP()" mat-raised-button color="primary" [disabled]="otp_fc.invalid || isLoading">Validate</button>
    <!-- <button *ngIf="isResendOTPEnabled && !isOtpExpired" type="button" [disabled]="isLoading" (click)="resendOTP()" mat-raised-button color="accent">Resend OTP</button> -->
</mat-dialog-actions>