/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* #region Materials */
@import url("./assets/materials/check-box.css");
@import url("./assets/materials/form-field.css");
@import url("./assets/materials/input.css");
@import url("./assets/materials/menu.css");
@import url("./assets/materials/paginator.css");
@import url("./assets/materials/side-nav.css");
@import url("./assets/materials/table.css");
@import url("./assets/materials/tree.css");
/* #endregion Materials */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
